node_modules/
node/
dist/
build/
target/
**/target/
*/target/
.DS_Store
.env.expenselytics
/data/
/backups/
.DS_Store
npm-debug.log
yarn-error.log
coverage/
.vscode/
.idea/
expenselytics/ui/node
/NAS-SETUP.md
/compose.yaml


/app/src/main/resources/
